<% remote_form_for @employee, :update => 'add_employee' do |f| %>
  <%= f.error_messages %>
  
  <table>
    <tr>
      <th><%= f.label :first_name, 'Vardas' %></th>
      <th><%= f.label :last_name, 'Pavardė' %></th>
      <th><%= f.label :sector_id, 'Skyrius' %></th>
    </tr>
    <tr>
      <td><%= f.text_field :first_name, {:style => 'width: 185px'} %></td>
      <td><%= f.text_field :last_name, {:style => 'width: 185px'} %></td>
      <td>
        <%#= f.collection_select :sector_id, Sector.all, :id, :name,
                {:include_blank => '- Pasirinkite -'}, {:style => 'width: 130px'} %>
        <%=h current_user.sector.name %>
        <input type="hidden" name="employee[sector_id]" value="<%= current_user.sector.id %>" />
      </td>
    </tr>
    <tr>
      <th colspan="2"><%= f.label :email, 'El. paštas' %></th>
      <th><%= f.label :position_id, 'Pareigos' %></th>
    </tr>
    <tr>
      <td colspan="2"><%= f.text_field :email, {:style => 'width: 390px'} %></td>
      <td><%= f.collection_select :position_id, Position.all, :id, :name,
              {:prompt => '- Pasirinkite -'}, {:style => 'width: 130px'} %></td>
    </tr>
  </table>
  <p>
    <%= f.submit "Registruoti" %>
    <a href="javascript:;" onclick="$('add_employee').toggle(); $('add_employee_button').show()">Atšaukti</a>
  </p>
<% end %>


