<% remote_form_for "employee", :url => { :controller => 'employees', :action => 'change_password', :id => @employee.id }, :update => 'change_password' do  |f| %>
  <%= f.error_messages %>
  <table>
    <tr>
      <th colspan="2">Pasikeisti slaptažodį</th>
    </tr>
    <tr>
      <td><%= f.label :current_password, t('employee.curr_pass') %></td>
      <td><%= f.password_field :current_password %></td>
    </tr>
    <tr>
      <td><%= f.label :password, t('employee.new_pass') %></td>
      <td><%= f.password_field :password %></td>
    </tr>
    <tr>
      <td><%= f.label :password_confirmation, t('employee.new_pass_repeat') %></td>
      <td><%= f.password_field :password_confirmation %></td>
    </tr>
  </table>    
  <%= f.submit 'Išsaugoti' %> <a href="javascript:;" onclick="$('change_password').fade();">Atšaukti</a>
<% end %>
