<h2>Įmonės darbuotojai</h2>

<% if require_permission :employees_create %>

  <p id="add_employee_button">
    <button onclick="$('add_employee_button').hide(); $('add_employee').appear()">Naujo darbuotojo registracija</button>
  </p>

  <div id="add_employee" style="display: none">
    <%= render :partial => 'add_employee' %>
  </div>
  
<% end %>

<table>
  <tr>
    <th style="width: 260px">Vardas, Pavardė</th>
    <th style="width: 100px">Skyrius</th>
    <th style="width: 150px">Pareigos</th>
  </tr>
<% for employee in @employees %>
  <tr class="<%= cycle('', 'odd') %>">
    <td><%= link_to_protected h(employee.full_name),
                              { :require => :employees_view, :id => employee.id },
                              employee %></td>
    <td><%= link_to_protected h(employee.sector.name), 
                              { :require => :sectors_view, :id => employee.sector.id },
                              employee.sector %></td>
    <td><%=h employee.position.name %></td>
  </tr>
<% end %>
</table>

<p>
  <%= will_paginate @employees %>
</p>
