<h2>Įmonės darbuotojai</h2>

<% if require_permission :employees_create %>

  <p id="add_employee_button">
    <button onclick="$('add_employee_button').hide(); $('add_employee').appear()">Naujo darbuotojo registracija</button>
  </p>

  <div id="add_employee" style="display: none">
    <%= render :partial => 'add_employee' %>
  </div>
  
<% end %>

<table>
  <tr>
    <th style="width: 260px">Vardas, Pavardė</th>
    <th style="width: 100px">Skyrius</th>
    <th style="width: 150px">Pareigos</th>
  </tr>
<% for employee in @employees %>
  <tr class="<%= cycle('', 'odd') %>">
    <td><%= link_to h(employee.full_name), employee %></td>
    <td><%= link_to h(employee.sector.name), employee.sector %></td>
    <td><%=h employee.position.name %></td>
    <!--
    <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
    <td><%= link_to 'Destroy', employee, :confirm => 'Are you sure?', :method => :delete %></td>
    -->
  </tr>
<% end %>
</table>

<p>
  <%= will_paginate @employees %>
</p>
