<h2><%= link_to_protected h(@employee.sector.name),
                          { :require => :sectors_view, :id => @employee.sector.id },
                          @employee.sector %> &rarr; 
    <%= link_to_protected h(@employee.full_name), 
                          { :require => :employees_view, :id => @employee.id },
                          @employee %> &rarr;
    <%= link_to h(@project.name), employee_project_url(@employee, @project) %></h2>

<% title "#{@employee.full_name} įdirbis projekte #{@project.name}" %>
<table class="sortable">
  <tr>
    <th>Mėnesis</th>
    <% Activity.all.each do |a| %>
      <th class="number"><%=h a.name %></th>
    <% end %>
    <th class="number">Viso (val.)</th>
  </tr>
  
  <% while @start.to_s[0..6] != @end.to_s[0..6] do %>
    <% total = 0 -%>
      <tr class="<%= cycle('', 'odd') %>">
        <td><%= @start.to_s[0..6] %></td>
        <% Activity.all.each do |a| %>
          <% time = @project.employee_hours_by_month_and_activity(@employee, @start, a) -%>
          <% total += time -%>
          <td><%= time %></td>
        <% end %>
        <td><%= total %></td>
      </tr>
  <% @start += 1.month end %>
</table>