<% title "#{@employee.full_name}" %>

<%= link_to h(@employee.sector.name), @employee.sector %> → <%= h @employee.full_name %>

<p>
  <b>First name:</b>
  <%=h @employee.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @employee.last_name %>
</p>

<p>
  <b>Sector:</b>
  <%= link_to h(@employee.sector.name), @employee.sector %>
</p>

<p>
  <b>Email:</b>
  <%=h @employee.email %>
</p>

<p>
  <b>Position:</b>
  <%=h @employee.position.name %>
</p>

<h2>Projektai</h2>

<table>
  <tr>
    <th>#</th>
    <th>Projektas</th>
    <th>Projekto vadovas</th>
    <th>Pradžia</th>
    <th>Pabaiga</th>
    <th>Įdirbis</th>
  </tr>
  
  <% @projects.each do |p| %>
    <tr>
      <td><%=h p.code %></td>
      <td><%= link_to p.name, employee_project_url(@employee, p) %></td>
      <td><%= link_to p.manager.full_name, p.manager %></td>
      <td><%= @employee.started_in_project(p.id) %></td>
      <td><%= @employee.finished_in_project(p.id) %></td>
      <td><%= @employee.hours_spent_in_project(p.id) %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
