<h2><%= link_to h(@employee.sector.name), @employee.sector %> &rarr; 
    <%= link_to h(@employee.full_name), @employee %></h2>

<p>
  <%= link_to 'Redaguoti', edit_employee_path(@employee) %>
</p>

<table>
    <tr>
        <th style="width: 185px">Vardas</th>
        <th style="width: 185px">Pavardė</th>
        <th style="width: 130px">Skyrius</th>
    </tr>
    <tr>
        <td><%= h(@employee.first_name) %></td>
        <td><%= h(@employee.last_name) %></td>
        <td><%= link_to h(@employee.sector.name), @employee.sector %></td>
    </tr>
    <tr>
        <th colspan="2">El. pašto adresas</th>
        <th>Pareigos</th>
    </tr>
    <tr>
        <td colspan="2" style="width: 300px"><%= mail_to @employee.email, @employee.email%></td>
        <td><%= h(@employee.position.name) %></td>
    </tr>
</table>

<h2>Projektai</h2>

<table>
  <tr>
    <th style="width: 30px">#</th>
    <th style="width: 130px">Projektas</th>
    <th style="width: 185px">Projekto vadovas</th>
    <th>Pradžia</th>
    <th>Pabaiga</th>
    <th>Įdirbis</th>
  </tr>
  
  <% @projects.each do |p| %>
    <tr>
      <td><%=h p.code %></td>
      <td>
        <%= link_to p.name, employee_project_url(@employee, p) %>
        <% if p.manager == @employee %>
          <%= image_tag 'project-manager.png', :title => 'Darbuotojas yra šio projekto vadovas' %>
        <% end %>
      </td>
      <td><%= link_to p.manager.full_name, p.manager %></td>
      <td><%= @employee.started_in_project(p.id) %></td>
      <td><%= @employee.finished_in_project(p.id) %></td>
      <td class="hours"><%= @employee.hours_spent_in_project(p.id).format_h %></td>
    </tr>
  <% end %>
</table>

