<% editable = require_permission :task_edit, :id => task.id %>
<% if editable %>
  <div id="task-<%=task.id%>-edit" style="display: none">
    <%= render :partial => 'tasks/edit_task', :locals => { :task => task, :odd => odd } %>
  </div>
<% end %>
<table class="joined" id="task-<%=task.id%>-show">
  <tr class="<%=odd%>" >
    <td style="width: 90px"><%= task.date %></td>
    <td style="width: 190px">
      <%= link_to_protected task.project.name, 
                            { :require => :projects_view, :id => task.project.id },
                            employee_project_url(current_user, task.project) %>
    </td>
    <td style="width: 140px"><%= task.activity.name %></td>
    <td style="width: 80px" class="hours"><%= task.hours_spent.format_h %></td>
  </tr>
  <tr class="description <%=odd%>">
    <td></td>
    <td colspan="2">
      <% if task.description.to_s.empty? %>
        <span class="none">Aprašymas nepateiktas</span>
      <% else %>
        <%= task.description %>
      <% end %>
    </td>
    <td class="hours">
      <% if editable %>
        <button onclick="$('task-<%=task.id%>-edit').show();$('task-<%=task.id%>-show').hide();">Redaguoti</button>
      <% end %>
    </td>
  </tr>
</table>
