<% hours_total = @this_sector + @other_sectors -%>

<h2>Intervalo įdirbis</h2>

<table>
  <tr>
    <th>Skyriaus projektuose</th>
    <th>Kitų skyrių projektuose</th>
    <th>Iš viso</th>
  </tr>
  <tr>
    <td><%= @this_sector.format_h %></td>
    <td><%= @other_sectors.format_h %></td>
    <td><%= hours_total.format_h  %></td>
  </tr>
  <tr>
    <th colspan="3">Nedarbingumas</th>
  </tr>
  <tr>
    <td colspan="3"><%= (@theory_hours - hours_total).format_h %>
      (<%= ((@theory_hours - hours_total)*100)/@theory_hours %>%)</td>
  </tr>
</table>

<h2>Kitų skyrių įdirbis skyriaus projektuose</h2>

<table>
  <tr>
    <th>Skyrius</th>
    <th>Įdirbis</th>
  </tr>
<% Sector.all_except(@sector.id).each do |sector| %>
  <tr class="<%= cycle('', 'odd') %>">
    <td><%= link_to h(sector.name), sector %></td>
    <td><%= sector.hours_for_sector(@sector, @start_date, @end_date) %></td>
  </tr>
<% end -%>
  <tr class="<%= cycle('', 'odd') %>">
    <td><strong>Iš viso</strong></td>
    <td><%= @sector.other_sectors_hours(@start_date, @end_date) %></td>
  </tr>
</table>

<h2>Intervalo projektai</h2>
<table>
  <tr>
    <th>#</th>
    <th>Projektas</th>
    <th>Vadovas</th>
    <th>Skyrius</th>
    <th>Pradžia</th>
    <th>Pabaiga</th>
    <th>Įdirbis</th>
    <th>Skyriaus</th>
    <th>Kitų</th>
  </tr>
<% @sector.projects(@start_date, @end_date).each do |project| %>
  <% this_sector_hours   = project.hours(@start_date, @end_date, [@sector.id]) -%>
  <% other_sectors_hours = project.hours(@start_date, @end_date, Sector.all_except(@sector.id).map(&:id)) %>
  <tr class="<%= cycle('', 'odd') %>">
    <td><%=h project.code %></td>
    <td><%= link_to h(project.name), project %></td>
    <td><%= link_to h(project.manager.full_name), project.manager %></td>
    <td><%= link_to h(project.manager.sector.name), project.manager.sector %></td>
    <td><%= project.start_date %></td>
    <td><%= project.end_date %></td>
    <td class="hours"><%= (this_sector_hours + other_sectors_hours).format_h %></td>
    <td class="hours"><%= this_sector_hours.format_h %></td>
    <td class="hours"><%= other_sectors_hours.format_h %></td>
  </tr>
<% end %>
</table>