<h2>Laiko fiksavimas</h2>

<div id="add_task">
  <%= render :partial => 'tasks/add_task' %>
</div>

<h2>Fiksuotas laikas</h2>

<table>
  <tr>
    <th style="width: 90px">Data</th>
    <th style="width: 190px">Projektas</th>
    <th style="width: 140px">Veikla</th>
    <th style="width: 80px">Trukmė</th>
  </tr>
  
  <% @tasks.each do |t| %>
    <% @odd = cycle('', 'odd') %>
    <tr class="<%=@odd%>">
      <td><%= t.date %></td>
      <td><%= link_to t.project.name, employee_project_url(current_user, t.project) %></td>
      <td><%= t.activity.name %></td>
      <td class="hours"><%= t.hours_spent.format_h %></td>
    </tr>
    <tr class="description <%=@odd%>">
      <td></td>
      <td colspan="2">
        <% if t.description.to_s.empty? %>
          <span class="none">Aprašymas nepateiktas</span>
        <% else %>
          <%= t.description %>
        <% end %>
      </td>
      <td><button>Redaguoti</button></td>
    </tr>
  <% end %>
</table>

<p>
  <%= will_paginate @tasks %>
</p>
