<h2><%= link_to h(@project.manager.sector.name), @project.manager.sector %> &rarr;
    <%= link_to h(@project.name), @project %></h2>

<% form_for(@project) do |f| %>
  <%= f.error_messages %>

  <table>
    <tr>
      <th style="width: 80px"><%= f.label :code, 'Kodas' %></th>
      <th colspan="2" style="width: 300px"><%= f.label :name, 'Pavadinimas' %></th>
      <th style="width: 180px"><%= f.label :manager_id, 'Projekto vadovas' %></th>
    </tr>
    <tr>
      <td><%= f.text_field :code, {:style => 'width: 75px'} %></td>
      <td colspan="2"><%= f.text_field :name, {:style => 'width: 290px'} %></td>
      <td><%= f.collection_select :manager_id, Employee.of_sector_sorted(current_user.sector),
                :id, :name_with_sector,
                {}, {:style => 'width: 170px'} %></td>
    </tr>
    <tr>
      <th><%= f.label :start_date, 'Pradžia' %></th>
      <th><%= f.label :end_date, 'Pabaiga' %></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <td><%= f.text_field :start_date, {:style => 'width: 75px'} %></td>
      <td><%= f.text_field :end_date, {:style => 'width: 75px'} %></td>
      <td></td>
      <td></td>
    </tr>
  </table>
  <p>
    <%= f.submit "Išsaugoti" %>
    <%= link_to 'Atšaukti', @project %>
  </p>
  
  <h2>Darbuotojai</h2>
  <table>
    <tr>
      <th></th>
      <th style="width: 270px">Vardas, pavardė</th>
      <th style="width: 130px">Skyrius</th>
      <th style="width: 130px">Pareigos</th>
    </tr>
    <% @employees.each do |e| %>
    <tr class="<%= cycle('', 'odd') %>">
      <td>
        <input type="checkbox"
               id="employee-<%=e.id%>"
               name="employee_ids[]"
               value="<%=e.id%>"
               <%if @project.employees.include? e %>checked="checked"<% end %>
               />
      </td>
      <td><%= link_to h(e.full_name), e %></td>
      <td><%= link_to h(e.sector.name), e.sector %></td>
      <td><%=h e.position.name %></td>
    </tr>
    <% end %>
  </table>
  <p>
    <%= f.submit "Išsaugoti" %>
    <%= link_to 'Atšaukti', @project %>
  </p>

  <%= calendar "project_start_date" %>
  <%= calendar "project_end_date" %>
  
<% end %>

