<h2>Projektai</h2>

<% if require_permission :projects_create %>

  <p id="add_project_button">
    <button onclick="$('add_project_button').hide(); $('add_project').appear()">Naujo projekto registracija</button>
  </p>

  <div id="add_project" style="display: none">
    <%= render :partial => 'add_project' %>
  </div>

<% end %>

<table>
  <tr>
    <th style="width: 30px">#</th>
    <th style="width: 150px">Pavadinimas</th>
    <th style="width: 155px">Projekto vadovas</th>
    <th>Skyrius</th>
    <th>Pradžia</th>
    <th>Pabaiga</th>
  </tr>
<% for project in @projects %>
  <tr class="<%= cycle('', 'odd') %>">
    <td><%=h project.code %></td>

    <td><%= link_to_protected h(project.name), { :require => :projects_view, :id => project.id },
                              project %></td>
    
    <td><%= link_to_protected h(project.manager.full_name), 
                              { :require => :employees_view, :id => project.manager.id },
                              project.manager %></td>
                              
    <td><%= link_to_protected h(project.manager.sector.name), 
                              { :require => :sectors_view, :id => project.manager.sector },
                              project.manager.sector %></td>
    <td><%=h project.start_date %></td>
    <td><%=h project.end_date %></td>
  </tr>
<% end %>
</table>

<p>
  <%= will_paginate @projects %>
</p>

