<h2>Projektai</h2>

<% if require_permission :projects_create %>

  <p id="add_project_button">
    <button onclick="$('add_project_button').hide(); $('add_project').appear()">Naujo projekto registracija</button>
  </p>

  <div id="add_project" style="display: none">
    <%= render :partial => 'add_project' %>
  </div>

<% end %>

<table>
  <tr>
    <th style="width: 30px" <%= sort :projects, :by => 'projects-code' %>>#</th>
    <th style="width: 150px" <%= sort :projects, :by => 'projects-name' %>>Pavadinimas</th>
    <th style="width: 155px" <%= sort :projects, :by => 'employees-first_name' %>>Projekto vadovas</th>
    <th <%= sort :projects, :by => 'sectors-name' %>>Skyrius</th>
    <th <%= sort :projects, :by => 'projects-start_date' %>>Pradžia</th>
    <th <%= sort :projects, :by => 'projects-end_date' %>>Pabaiga</th>
  </tr>
<% for project in @projects %>
  <tr class="<%= cycle('', 'odd') %>">
    <td><%=h project.code %></td>

    <td><%= link_to_protected h(project.name), { :require => :projects_view, :id => project.id },
                              project %></td>
    
    <td><%= link_to_protected h(project.manager.full_name), 
                              { :require => :employees_view, :id => project.manager.id },
                              project.manager %>
      <% if project.manager == current_user %>
        <%= image_tag 'project-manager.png', :title => 'Jūs esate šio projekto vadovas' %>
      <% end %>
    </td>
                              
    <td><%= link_to_protected h(project.manager.sector.name), 
                              { :require => :sectors_view, :id => project.manager.sector },
                              project.manager.sector %></td>
    <td><%=h project.start_date %></td>
    <td><%=h project.end_date %></td>
  </tr>
<% end %>
</table>

<p>
  <%= paginate @projects %>
</p>

