<h2><%= link_to h(@project.manager.sector.name), @project.manager.sector %> &rarr;
    <%= link_to h(@project.name), @project %></h2>

<p>
  <%= link_to 'Redaguoti', edit_project_path(@project) %>
</p>

<table>
  <tr>
    <th style="width: 80px">Kodas</th>
    <th colspan="2" style="width: 300px">Pavadinimas</th>
    <th style="width: 180px">Projekto vadovas</th>
  </tr>
  <tr>
    <td><%=h @project.code %></td>
    <td colspan="2"><%=h @project.name %></td>
    <td><%= link_to h(@project.manager.full_name), @project.manager %></td>
  </tr>
  <tr>
    <th>Pradžia</th>
    <th>Pabaiga</th>
    <th>Įdirbis</th>
    <th>Projekto skyrius</th>
  </tr>
  <tr>
    <td><%=h @project.start_date %></td>
    <td><%=h @project.end_date %></td>
    <td><%=h @project.all_hours.format_h %></td>
    <td><%= link_to h(@project.manager.sector.name), @project.manager.sector %></td>
  </tr>
</table>

<p>
  <%= @graph %>
</p>

<% @project.sectors.each do |s| %>
  <h2><%= s.name %> (<%= s.total_hours %> val.)</h2>
  <table>
  <tr>
    <th style="width: 360px">Vardas, Pavardė</th>
    <th style="width: 150px">Pareigos</th>
    <th>Įdirbis</th>
  </tr>
  <% s.employees.each do |e| %>
    <% if @project.employees.include?(e) %>
    <tr class="<%= cycle('', 'odd') %>">
      <td><%= link_to h(e.full_name), employee_project_url(e, @project) %></td>
      <td><%= h(e.position.name) %></td>
      <td class="hours"><%= e.hours_spent_in_project(@project.id).format_h %></td>
    </tr>
    <% end %>
  <% end %>
  </table>
<% end %>
