<h2><%= link_to_protected h(@project.manager.sector.name), 
                          { :require => :sectors_view, :id => @project.manager.sector.id },
                          @project.manager.sector %> &rarr;
    <%= link_to h(@project.name), @project %></h2>

<% if require_permission :projects_edit, :id => @project.id %>
  <p>
    <%= link_to 'Redaguoti', edit_project_path(@project) %>
  </p>
<% end %>

<table>
  <tr>
    <th style="width: 80px">Kodas</th>
    <th colspan="2" style="width: 300px">Pavadinimas</th>
    <th style="width: 180px">Projekto vadovas</th>
  </tr>
  <tr>
    <td><%=h @project.code %></td>
    <td colspan="2"><%=h @project.name %></td>
    <td><%= link_to_protected h(@project.manager.full_name), 
                              { :require => :employees_view, :id => @project.manager.id },
                              @project.manager %></td>
  </tr>
  <tr>
    <th>Pradžia</th>
    <th>Pabaiga</th>
    <th>Įdirbis</th>
    <th>Projekto skyrius</th>
  </tr>
  <tr>
    <td><%=h @project.start_date %></td>
    <td><%=h @project.end_date %></td>
    <td><%=h @project.all_hours.format_h %></td>
    <td><%= link_to_protected h(@project.manager.sector.name), 
                              { :require => :sectors_view, :id => @project.manager.sector.id },
                              @project.manager.sector %></td>
  </tr>
</table>

<p>
  <%= @graph %>
</p>

<% @project.sectors.each do |s| %>
  <h2><%= s.name %> (<%= s.total_hours %> val.)</h2>
  <table>
  <tr>
    <th style="width: 360px">Vardas, Pavardė</th>
    <th style="width: 150px">Pareigos</th>
    <th>Įdirbis</th>
  </tr>
  <% s.employees.each do |e| %>
    <% if @project.employees.include?(e) %>
    <tr class="<%= cycle('', 'odd') %>">
      <% if require_permission(:projects_view, :id => @project.id) and
            require_permission(:employees_view, :id => e.id) %>
      <td><%= link_to h(e.full_name), employee_project_url(e, @project) %></td>
      <% else %>
      <td><%=h e.full_name %></td>
      <% end %>
      <td><%= h(e.position.name) %></td>
      <td class="hours"><%= e.hours_spent_in_project(@project.id).format_h %></td>
    </tr>
    <% end %>
  <% end %>
  </table>
<% end %>
