<h1>New activity</h1>

<% form_for(@activity) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :is_billable %><br />
    <%= f.check_box :is_billable %>
  </p>
  <p>
    <%= f.label :is_enterable %><br />
    <%= f.check_box :is_enterable %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', activities_path %>
