<% @avg = {0 => { :value => 0, :diff => 0 }} %>
<% @sectors.each do |s| @avg[s.id] = { :value => 0, :diff => 0} end %>

<table class="all-right">
  <tr>
    <th colspan="2"></th>
    <% @sectors.each do |sector| %>
      <th><%= link_to h(sector.name), sector %></th>
    <% end %>
    <th>Visa įmonė</th>
  </tr>
  
  <% @periods.reverse.each do |period| %>
    <% sum = { :value => 0, :income => 0.0 } %>
    <% odd = cycle('', 'odd') %>
    <tr class="<%= odd %>">
      <td rowspan="3"><%= period[:name] %></td>
      <th>Sukurta vertė</th>
      <% @sectors.each do |s| %>
        <% sum[:value]   += value = s.time_usage_for(period[:starts], period[:ends]).to_i %>
        <% sum[:income]  += income = s.income(period[:starts], period[:ends]).to_f %>
        <td>
          <%= currency value %>
        </td>
        <% @avg[s.id][:value] += value
           @avg[s.id][:diff]  += (value - income) -%>
      <% end %>
      <td>
        <%= currency sum[:value] %>
      </td>
      <% @avg[0][:value] += sum[:value]
         @avg[0][:diff]  += (sum[:value] - sum[:income]) -%>
    </tr>
    <tr class="<%= odd %>">
      <th>Pajamos</th>
      <% @sectors.each do |s| %>
        <% income = s.income(period[:starts], period[:ends]).to_f %>
        <td>
          <%= currency income %>
        </td>
      <% end %>
      <td>
        <%= currency sum[:income] %>
      </td>
    </tr>
    <tr class="<%= odd %>">
      <th>Nebaigto darbo vertė</th>
      <% @sectors.each do |s| %>
        <% value = s.time_usage_for(period[:starts], period[:ends]).to_i %>
        <% income = s.income(period[:starts], period[:ends]).to_f %>
        <td>
          <%= currency(value - income) %> (<%= percentage((value - income) * 100 / value) %>)
        </td>
      <% end %>
      <td>
        <%= currency(sum[:value] - sum[:income]) %>
          (<%= percentage((sum[:value] - sum[:income]) * 100 / sum[:value]) %>)
      </td>
    </tr>
  <% end %>

  <% odd = cycle('', 'odd') %>
  <tr class="<%= odd %>">
    <th colspan="2">Nebaigto darbo vertė (vidurkis)</th>
    <% @sectors.each do |s| -%>
      <td><%= currency(@avg[s.id][:diff] / @periods.size) %> 
        (<%= percentage(@avg[s.id][:diff] * 100 / @avg[s.id][:value]) %>)</td>
    <% end %>
    <td><%= currency(@avg[0][:diff] / @periods.size)%>
      (<%= percentage(@avg[0][:diff] * 100 / @avg[0][:value]) %>)</td>
  </tr>
</table>
