<ul class="reports-menu">
  <li><a href="/reports/time_usage">Darbo laiko išnaudojimo ir viršvalandžių ataskaita</a></li>
  <li class="active"><a href="/reports/switching">„Persijungimų“ ataskaita</a></li>
  <li><a href="/reports/progress">Nebaigto darbo vertės ataskaita</a></li>
</ul>

<table>
  <tr>
    <th></th>
    <% @sectors.each do |sector| -%>
      <th><%= link_to h(sector.name), sector %></th>
    <% end -%>
    <th>Visa įmonė</th>
  </tr>
  
  <% @periods.reverse.each do |period| -%>
    <% total_switches = 0.0 %>
    <tr class="<%= cycle('', 'odd') %>">
      <td><%= period[:name] %></td>
      <% @sectors.each do |sector| -%>
        <% switches = sector.switches_for_hours(period[:starts], period[:ends]) %>
        <% total_switches += switches.to_f %>
        <td><%= switches %></td>
      <% end -%>
      <td><%= total_switches %></td>
    </tr>
  <% end -%>
</table>
