<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title><%= yield(:title) || 'MakeIT Time' %></title>
    <meta http-equiv="Content-Type" http-equiv="text/html; charset=utf-8" />
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag 'calendar/calendar', 'calendar/calendar-setup', 'calendar/calendar-lt-utf8', 'swfobject' %>
    <%= stylesheet_link_tag 'main', 'calendar-custom' %>
  </head>
  <body>
    
    <div id="toolbar">
      
      <h1>MakeIT Time</h1>
      <% if current_user %>
      <ul>
        <%= menu_item "Įdirbis", :controller => 'home' %>
        <%= menu_item "Darbuotojai", :controller => 'employees' %>
        <%= menu_item "Projektai", :controller => 'projects' %>
        <%= menu_item "Skyriai", :controller => 'sectors' %>
        <%= menu_item "Ataskaitos", :controller => 'reports' %>
  
        <li class="last"><a href="/employee_sessions/destroy">Atsijungti</a></li>
      </ul>
      <% end %>
      <div class="clear"></div>
    </div>
    
    <div id="content">
      <%= render :partial => 'shared/notices' %>
      <%= yield %>
    </div>    
  </body>
</html>
