<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title><%= yield(:title) || 'MakeIT Time' %></title>
    <meta http-equiv="Content-Type" http-equiv="text/html; charset=utf-8" />
    <%= javascript_include_tag :all %>
    <%= stylesheet_link_tag 'main', 'calendar-custom' %>
    <%= stylesheet_link_tag 'print', :media => 'print' %>
  </head>
  <body>
    
    <div id="toolbar">
      
      <h1>MakeIT Time</h1>
      <% if current_user %>
        <ul>
          <% if require_permission :task_enter_personal %>
            <%= menu_item "Įdirbis", :controller => 'home' %>
          <% end %>
                  
          <!-- any restrictions? -->
          <%= menu_item "Mano laikas", :controller => 'my_time' %>
        
          <% if require_permission :projects_view_some %>
            <%= menu_item "Projektai", :controller => 'projects' %>
          <% end %>
          <% if require_permission :employees_view_some %>
            <%= menu_item "Darbuotojai", :controller => 'employees' %>
          <% end %>
          <% if require_permission :sectors_view_some %>
            <%= menu_item "Skyriai", :controller => 'sectors' %>
          <% end %>
          <% if require_permission :reports_view %>
            <%= menu_item "Ataskaitos", :controller => 'reports' %>
          <% end %>
          
          <li class="last"><a href="/employee_sessions/destroy">Atsijungti</a></li>
          <li class="last text"><%= link_to 'Prisijungęs: ' + h(current_user.full_name), current_user, 
            :title => 'Peržiūrėti asmeninę informaciją' %></li>
        </ul>
      <% end %>
      <div class="clear"></div>
    </div>
    
    <% if allow_tools? %>
      <div id="tools">
        <div class="search">
          <% form_for "quick", :url => { :controller => 'search', :action => 'quick_search' } do %>
            <%= text_field_with_auto_complete :quick, :search, 
                  { :autocomplete => 'off', :class => 'search', :accesskey => 'f' }, 
                  { :url => { :controller => 'search', :action => 'quick_search' }, :method => :get,
                    :after_update_element => 'search_trigger', :select => 'where_is_the_waldo'  }%>
          <% end %>
        </div>
        <div class="printer"><a href="#" onclick="window.print(); return false">Spausdinti</a></div>
      </div>
    <% end %>
        
    <div id="content">
      <% if show_notices? %>
        <%= render :partial => 'shared/notices' %>
      <% end %>
      <%= yield %>
    </div>    
  </body>
</html>
